<% (1..3).each do |item| %>
<tr class=<%= item%2 == 0 ? "alt" : ""%>>
	<td>
		<%= text_field_tag "file[][image_name_#{item}]", "", :size => 10 %>
	</td>
	<td>
		<%= select_box("file[][upload_type_#{item}]", @upload_type, :style => "width: 270px;") %>
	</td>
	<td>
		<%= file_field_tag "file[][upload_file_#{item}]" %>
	</td>
</tr>
<% end %>
