<% title "Contracts" %>

<% unless @contracts.blank? or current_user.blank? %>
<table class="customers">
  <tr>
    <th>Contract Number</th>
    <th>Location Id</th>
  </tr>
  <% for contract in @contracts %>
    <tr>
      <td><%= contract.contract_no %></td>
      <td><%= contract.location_id %></td>
      <td><%= link_to "Edit", edit_contract_path(contract) %></td>
    </tr>
  <% end %>
</table>
<% end %>

<p><%= link_to "New Contract", new_contract_path %></p>
